/* Your CSS here. */
body {
    padding-left: 25%;
    padding-right: 25%;
    padding-bottom: 25%;
    /* padding-top: 5%; */
  }
  div {
    background-color: gray;
    text-align: center;
    width: 50vw;
    height: 15vw;
     
  }
    img {
        margin-top: 10px;
        height: 150px;
        width: 150px;
    }
    h1 {
        color: white;
    }
    h3 {
        color: white;
        font-style: italic;
    }
    a {
        font-weight: bold;
    }
    p {
        color: white;
    }